<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <h1>St.Joseph's General Hospital - Patients</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>
